.sidebarNav {
    flex: 1;
    height: calc(100vh - 3.25rem);
    position: sticky;
    top: 3.25rem;
}

.sidebarList {
    list-style: none;
    padding: 1rem;
}

.listItem {
    padding: 0.5rem;
    margin-top: 0.5rem;
    display: flex;
    align-items: center;
    color: rgb(66, 66, 66);
    cursor: pointer;
    border-radius: 10px;
}

.sidebarIcon {
    margin-right: 0.5rem;
}

.listItem.active,
.listItem:hover {
    background-color: rgb(88, 151, 223);
    color: white;
}
